<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="noborder">
    <tr>
      <th>Street Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    <tr>
      <td><%= f.text_field :address %></td>
      <td><%= f.text_field :city %></td>
      <td><%= f.text_field :state %></td>
      <td><%= f.text_field :zip %></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit "Find Dealerships"%>
  </div>
<% end %>
